.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #343a40;
  color: #fff;
  height: 45px;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.app-icon {
  width: 40px;
  height: 40px;
}

.app-title {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.header-center {
  flex-grow: 1;
  justify-content: center;
}

.user-name {
  margin-right: 10px;
  font-weight: 500;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
